.sidebar{

    background-color:#eee;
    background-repeat: repeat;
    padding:0;
    min-height:100%;
    position:relative;

}
html, body {height: 100%}

.wrap{ height: 100%;}

.sidebar .sidebar-content{
    height:100%;
    width:100%;
    padding: 5px;
    margin:0;
    position:relative;
}