<div ng-controller="MenuController as menuController">
    <div style="margin: 20px;">
        <ul class="sidebar-content">
            <li ng-repeat="menuItem in menuController.menuItems">
                <a ng-href="#/{{menuItem.view}}">{{menuItem.title}}</a>
            </li>
        </ul>
    </div>
    <div>

        <div ng-show="!menuController.userIsLoggedIn">
            <label for="firstNameInput">FirstName:</label>
            <input id="firstNameInput" type="text" ng-model="menuController.firstName" />

            <label for="lastNameInput">LastName:</label>
            <input id="lastNameInput" type="text" ng-model="menuController.lastName" />

            <button ng-click="menuController.login(menuController.firstName, menuController.lastName)">Login</button>
            <p>{{menuController.firstName}}</p>
            <p>{{menuController.lastName}}</p>
        </div>

        <div ng-show="menuController.userIsLoggedIn" >
            <user-badge ng-controller="UserBadgeController as userBadgeController"></user-badge>
        </div>

    </div>



</div>

