<div ng-show="!isUserLoggedIn()" style="margin: 20px">
    No one is logged in so we can't show you any user details!
</div>
<div ng-show="isUserLoggedIn()"  style="margin: 20px">
    Look at all the details about the user on this page. Its great!
</div>